<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Jamesson.Me</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
	<style>
		body {font-family: 'Overpass', sans-serif; padding: 0; color: #333; background: #eee;}
		.container {margin: 0 auto; max-width: 60%;}
		.links {margin: 0; padding: 0;}
		.links li {display: inline; margin-right: 1em;}
	</style>
</head>
<body>
<div class="container">

	<header>	
		<h1>Jamesson.Me</h1>
		<p>We are the Jamessons.</p>
	</header>

	<hr>

        {% for person in site.people %}
            <div class="person">
                <h2>{{ person.name }}</h2>
                <p>{{ person.title }}</p>

                <ul class="links">
                    {% for link in person.links %}
                        <li><a href="{{ link.url }}">{{ link.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

</div>
</body>
</html>
